@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body {
  font-family: 'Inconsolata', 'Courier New', monospace;
  background-image: linear-gradient(to bottom right, #d63c6b 0%, #F3F315 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
